-@poll.errors.messages.each do |message|
	=message
= form_for @poll do |f|
	%div.poll-info
		=f.text_field :about, placeholder: "Short info about your poll", class: 'form-control'
	.poll-questions
		=f.fields_for :questions do |q|
			= render 'question_fields', f: q
		.links
			= link_to_add_association 'add question', f, :questions
	=f.submit